
.mobile-action-sheet {
  background: #1779ba;
  overflow: visible;
  width: 94%;
  left: 3%;
  height: auto;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  color: #fefefe;
  padding-top: 1rem;
    position: fixed; 
    bottom: 0;
}

.mobile-action-sheet label {
  color: #fefefe;
}

.mobile-action-sheet .close-button {
  top: 0;
  font-size: 26px;
  color: #0c3e5f;
  display: none;
}

.mobile-action-sheet.is-open .close-button {
  display: block;
}

.mobile-action-sheet .mobile-action-sheet-inner {
  position: relative;
  padding: 0 1rem 0.5rem;
}

.mobile-action-sheet .action-sheet-toggle {
  position: absolute;
  top: -1rem;
  left: 50%;
  -webkit-transform: translate3D(-50%, -100%, 0);
      -ms-transform: translate3D(-50%, -100%, 0);
          transform: translate3D(-50%, -100%, 0);
  visibility: visible;
}

.mobile-action-sheet.position-bottom.is-transition-push::after {
  box-shadow: none;
}

.mobile-action-sheet .button.white {
  border: 1px solid #fefefe;
  color: #fefefe;
}

.mobile-action-sheet .button.white:hover, .mobile-action-sheet .button.white:active {
  border: 1px solid #fefefe;
  color: #fefefe;
}

.mobile-app-icon-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background: #1779ba;
}

.mobile-app-icon-bar button {
  padding: 1.25rem;
  cursor: pointer;
}

.mobile-app-icon-bar button svg,
.mobile-app-icon-bar button i,
.mobile-app-icon-bar button img {
  font-size: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  color: white;
}


.app-feature-section {
  background-color: #e6e6e6;
  padding: 1rem;
}

@media print, screen and (min-width: 40em) {
  .app-feature-section {
    padding: 2rem;
  }
}

.app-feature-section-main-header {
  font-weight: 700;
}

@media screen and (max-width: 63.9375em) {
  .app-feature-section-main-header {
    font-size: 30px;
  }
}

.app-feature-section-sub-header {
  font-weight: 300;
  margin-bottom: 0;
}

@media screen and (max-width: 63.9375em) {
  .app-feature-section-sub-header {
    font-size: 24px;
  }
}

.app-feature-section-features {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.app-feature-section-features-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  -webkit-flex: 1 0 33.33%;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  font-size: 20px;
  white-space: nowrap;
}

.app-feature-section-features-block .fa {
  margin-right: 1rem;
  font-size: 35px;
}

@media screen and (max-width: 39.9375em) {
  .app-feature-section-features-block {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 25.9375em) {
  .app-feature-section-features-block {
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}




