body{
    background-color: #eee;
  color: #3aa;
}
.mobile-action-sheet {
  background: #3aa;
  overflow: visible;
  width: 94%;
  left: 3%;
  height: auto;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  color: #fefefe;
  padding-top: 1rem;
    position: fixed; 
    bottom: 0;
}

.mobile-action-sheet label {
  color: #fefefe;
}

.mobile-action-sheet .close-button {
  top: 0;
  font-size: 26px;
  color: #5ba;
  background: #3aa;
}

.mobile-action-sheet.is-open .close-button {
  display: block;
}

.mobile-action-sheet .mobile-action-sheet-inner {
  position: relative;
  padding: 0 1rem 0.5rem;
}

.mobile-action-sheet .action-sheet-toggle {
  position: absolute;
  top: -1rem;
  left: 50%;
  -webkit-transform: translate3D(-50%, -100%, 0);
      -ms-transform: translate3D(-50%, -100%, 0);
          transform: translate3D(-50%, -100%, 0);
  visibility: visible;
  background: #3aa;
}

.mobile-action-sheet.position-bottom.is-transition-push::after {
  box-shadow: none;
}

.mobile-action-sheet .button.white {
  border: 1px solid #fefefe;
  color: #fefefe;
}

.mobile-action-sheet .button.white:hover, .mobile-action-sheet .button.white:active {
  border: 1px solid #fefefe;
  color: #fefefe;
}

.mobile-app-icon-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background: #333;
}

.mobile-app-icon-bar button {
  padding: 1.25rem;
  cursor: pointer;
}

.mobile-app-icon-bar button svg,
.mobile-app-icon-bar button i,
.mobile-app-icon-bar button img {
  font-size: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  color: #eee;
}






.card-product-hover-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.card-product-hover {
  position: relative;
  line-height: 1.2rem;
  transition: all 0.35s ease;
}


.card-product-hover-details {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 1rem;
}

.card-product-hover-details > :last-child {
  margin-bottom: 0;
}

.card-product-hover-price {
  margin: 0.5rem 0;
  font-weight: 700;
  color: #3aa;
  font-size: 1.6rem;
}

.card-product-hover-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card-product-hover-icons a i {
  display: block;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  background-color: #fefefe;
  text-align: center;
  color: #0a0a0a;
}

.card-product-hover-icons a i:hover {
  background-color: #8a8a8a;
  color: #fefefe;
  cursor: pointer;
}

.card-product-hover-icons a {
  margin: 2px;
  opacity: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  transition: all 0.35s ease;
}

.card-product-hover:hover a,
.card-product-hover.hover a {
  transition: all 0.35s ease;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.card-product-hover:hover a:nth-child(2),
.card-product-hover.hover a:nth-child(2) {
  transition-delay: 0.1s;
}

.card-product-hover:hover a:nth-child(3),
.card-product-hover.hover a:nth-child(3) {
  transition-delay: 0.2s;
}




